body {
    background-color: lightgrey;
}
ul {
    border-radius: 20px;
    list-style: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkgrey;
}
li {
    float: left;
    border-right:1px solid #bbb;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 34px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: grey;
}

.active {
    background-color: grey;
}

.login {
    margin-left: 43%;
}

.search {
    background-color: #b1b1b1;
    border-radius: 28px;
    margin: 30px 180px;
}

.footer
{
background-color: gray;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
}

#uploadfilter {
  text-align: center;
}
/*
    #video {
  border: 1px solid black;
  box-shadow: 2px 2px 3px black;
  width:320px;
  height:240px;
}

#photo {
  border: 1px solid black;
  box-shadow: 2px 2px 3px black;
  width:320px;
  height:240px;
}

#canvas {
  display:none;
}

.camera {
  width: 340px;
  display:inline-block;
}

.output {
  width: 340px;
  display:inline-block;
}
.contentarea {
  font-size: 16px;
  font-family: "Lucida Grande", "Arial", sans-serif;
  width: 760px;
}

.camera {
    width: 340px;
    display: inline-block;
}

.output {
    width: 340px;
    display: inline-block;
}

*/

.contentarea {
    font-size: 16px;
    font-family: "Lucida Grande", "Arial", sans-serif;
    width: 760px;
}

.image {
  background-color: darkgrey;
padding: 2%;
border-radius: 4%;
margin: 1%;
}

input[type=submit] {
    /* padding: 5px 15px; */
    background: white;
    border: 0 none;
    cursor: pointer;
    /* -webkit-border-radius: 5px; */
    border-radius: 5px;
    font-size: 20px;
}

.filter {
    width: 200px;
}

.filter:hover {
    cursor: pointer;
}

#photo:active {
  cursor: -webkit-grabbing;
}



#webcam>* {
    position: absolute;
    /*top: 0;*/
    /*left: 22%;*/
}

#webcam {
    margin: auto;
    /*position: relative;*/
}

#mypics {
padding: 3%;
}

.line {
    display: flex;
    /*flex-direction: column;*/
    align-items: center;
    justify-content: center;
}

.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;
}

#startbutton {
      top: 20px;
    margin-bottom: 36px;
    font-size: 32px;
      display: block;
      position: relative;
      margin-left: auto;
      margin-right: auto;
    cursor: pointer;
    background-color: white;
        border: none;
  /*margin-bottom: 4%;*/
}

#startbutton:disabled {
    cursor: default;
}


.mini {
  width: 50%;
}

.comments {

  background-color: white;
  padding: 2%;
  border-radius: 10px;
  margin: 2% 0 2% 0;
}


.myform {
  display: flex;
  justify-content: flex-end;
  font-size: 28px;
}

.play {
  display: flex;
  justify-content: center;
  /*margin-top: 2%;*/
}

.play > button
{
  font-size: 40px;
  border-radius: 12px;
  background-color: white;
  border: 4px solid darkgrey;
  width: 5%;
  margin: 1%;
  color: darkgrey;
}

.play > button:hover {
  background-color: darkgrey;
  color: white;
cursor: pointer;
}

.play > button:focus {outline:none!important;}

#startbutton:focus {outline:none!important;}
/*.play > button*/
.upload {
  display: flex;
  justify-content: center;
  font-size: 21px;
  margin-top: 1%;
}

#filters {
  width: 56%;
  border-radius: 12px;
  border: 4px solid darkgrey;
  margin: auto;
padding: 25px;
}
